[submodule "modules/alphafold"]
	path = modules/alphafold
	url = https://github.com/google-deepmind/alphafold.git
[submodule "modules/AFmassive"]
	path = modules/afmassive
	url = https://github.com/GBLille/AFmassive.git
[submodule "modules/alphafold3"]
	path = modules/alphafold3
	url = https://github.com/google-deepmind/alphafold3.git
[submodule "modules/alphafill"]
	path = modules/alphafill
	url = https://github.com/PDB-REDO/alphafill
[submodule "modules/colabfold"]
	path = modules/colabfold
	url = https://github.com/sokrypton/ColabFold.git
