[submodule "modules/alphafold"]
	path = modules/alphafold
	url = https://github.com/google-deepmind/alphafold.git
[submodule "modules/AFmassive"]
	path = modules/afmassive
	url = https://github.com/GBLille/AFmassive.git
[submodule "modules/alphafold3"]
	path = modules/alphafold3
	url = https://github.com/google-deepmind/alphafold3.git
[submodule "modules/alphafill"]
	path = modules/alphafill
	url = https://github.com/PDB-REDO/alphafill
[submodule "modules/colabfold"]
	path = modules/colabfold
	url = https://github.com/sokrypton/ColabFold.git
[submodule "modules/diffdock"]
	path = modules/diffdock
	url = https://github.com/gcorso/DiffDock.git
[submodule "modules/dynamicbind"]
	path = modules/dynamicbind
	url = https://github.com/luwei0917/DynamicBind.git
[submodule "modules/openfold"]
	path = modules/openfold
	url = https://github.com/aqlaboratory/openfold.git
[submodule "modules/alphabridge"]
	path = modules/alphabridge
	url = https://github.com/bioinfo-pf-curie/AlphaBridge.git
